# Backend (Spring Boot / Maven)
target/
*.log

# Frontend (React)
node_modules/
build/
.env

# IDEs
.vscode/
.idea/

# Système
.DS_Store
Thumbs.db

# ================================
# Environment variables
# ================================
.env
